@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 2
   
   Bike the Mountains Tour Style Sheet
   Author: Mackenzie Baker
   Date:   9.10.2018
   
   Filename: mw_styles.css

*/


/* Structural Styles */
/* Sets color for the background of the page. */
html {
    background-color: rgb(173, 189, 227);
}
/* Sets color and text font used. */
body {
    background-color: rgb(227, 210, 173);
    font-family: ‘Century Gothic’, sans-serif;
}
/* Sets color and padding for the footer. */
footer {
    background-color: rgb(208, 184, 109);
    padding-top: 5px;
    padding-bottom: 5px;
}
/* Sets style of font and padding for the address. */
address {
    font: normal;
    font-size: .9em;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Heading Styles */
/* Sets both heads to normal font weight rather than bold. */
h1,
h2 {
    font-weight: normal;
}

/* Navigation Styles */
/* Defines style for the ul in the nav */
nav>ul {
    list-style-type: none;
    line-height: 2em;
    font-size: .9em;
}
/* Removes underlining for links and sets color. */
nav a:link,
nav a:visited {
    text-decoration: none;
    color: rgb(43, 59, 125);
}
/* Sets color while mouse is hovering over link. */
nav a:hover,
nav a:active {
    color: rgb(212, 35, 35);
}

/* Article Styles */
/* Attaches the ID's to the article elements. */
article#tour_summary h1 {
    font-size: 2.2em;
    letter-spacing: .2em;
}

article#tour_summary p {
    font-size: 1.1em;
}
/* Sets the first line of the tour summary to be a different font size and style that the rest.*/
article#tour_summary p:first-of-type::first-line {
    font-size: 1.2em;
    font-style: small-caps;
}

/* Aside Styles */
/* Attaches the ID's to the aside elements and sets their font sizes. */
aside#tour_itinerary h1 {
    font-size: 1.2em;
}

aside#tour_itinerary h2 {
    font-size: .9em;
}

aside#tour_itinerary p {
    font-size: .8em;
}

/* Sets the color of all odd numbers comments to a greenish color while changing the evens to a lavender. */
aside p:nth-of-type(odd) {
    color: rgb(79, 91, 40);
}

aside h2:nth-of-type(odd) {
    color: rgb(79, 91, 40);
}

aside p:nth-of-type(even) {
    color: rgb(81, 95, 175);
}

aside h2:nth-of-type(even) {
    color: rgb(81, 95, 175);
}

/* Blockquote Styles */
/* Sets color for the background where the quote is located.*/
blockquote {
    background-color: rgb(173, 189, 227);
    color: rgb(255, 255, 255);
    opacity: .65;
}
/* Sets the top and bottom of padding to 2.5 pixels while left and right are 10 pixels. */
blockquote p {
    padding: 2.5px 10px;
}